<h1>Gestion des utilisateurs</h1>
<h2>Ajouter un utilisateur</h2>

<!--Template driven forms-->

<form #f="ngForm" (ngSubmit)="addUser(f)" >
  
  <div class="mb-3">
    <label
      for="username"
      class="form-label">
        Username *
      </label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      #username
      ngModel
      required
      #user="ngModel">
      <div
      *ngIf="user.invalid && user.touched"
      class="error">
        Le champ auteur est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" #prix #email ngModel required #user="ngModel" > 
    <div
      *ngIf="user.invalid && user.touched"
      class="error">
        Le champ auteur est obligatoire!
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password*</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      #password
      ngModel
      required
      #n="ngModel">
    <div
      *ngIf="n.invalid && n.touched"
      class="error">
        Le champ titre est obligatoire!
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="f.invalid" >Valider</button>
</form>


